<section class="genplan">
    <div class="genplan-info outset-neomo">
    <svg width="1172" height="737" viewBox="0 0 1172 737" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="genplan">   
        <rect id="genplan 1" width="1171.83" height="737" fill="url(#pattern0)"/>
        <g id="builds">
            <a href="build-item.html" class="build-link sold">
                <path  class="build-1 build" data-build-number = "вул. Шувченка 4" data-stages-number="16" data-flats-number="52" data-descriptions="ДОМ ПРОДАНО!!!"
                d="M213.5 470.5L180.5 254H187L182.5 247L193 244.5L187 236L216 229.5L282 218L288 226.5L298.5 223L302.5 232H312L332.5 258L335.5 254L350.5 274.5L369.5 483L236.5 517.5L213.5 470.5Z" />
            </a>
            <a href="build-item.html" class="build-link">
                <path  class="build-2 build" data-build-number = "вул. Шувченка 5" data-stages-number="16" data-flats-number="40" data-descriptions="Будинок розташований у найкращому районі міста - на Поділлі. Але, не біля проїжджої дороги, а просто серед зеленого оазису поряд з парком Ющенка та - нашим 6-м будинком, який зданий в експлуатацію у 2021 році."
                d="M470 230.5L463 223.5L490.5 219V215L546.5 204L555 212L572 209L602 235.5L615 242.5L621 241L629.5 250L624 252.5L636.5 263.5L631.5 467L507 502L504 494.5L500.5 486L490.5 490.5L485 483V461L470 442L461 244.5L467 242L459.5 234L470 230.5Z" />
            </a>
            <a href="build-item.html" class="build-link">
                <path  class="build-3 build" data-build-number = "вул. Шувченка 6" data-stages-number="16" data-flats-number="52" data-descriptions="Маючи великий досвід у будівництві, та враховуючи інтереси наших покупців, на перших поверхах житлового комплексу ми будуємо сучасні гаражі, а поруч з будинком, буде ще вдосталь паркомісць для кожної квартири."
                d="M646.5 141L637.5 136.5L660.5 131.5V129.5L715.5 118L738.5 131.5L742 129.5L774.5 150.5L778 149.5L799 164L785.5 354.5L697 379L693.5 375.5L680 379L637.5 336.5L638.5 149.5L646.5 148L638.5 143.5L646.5 141Z" />
            </a>
            <a href="build-item.html" class="build-link sold">
                <path  class="build-4 build" data-build-number = "вул. Шувченка 7" data-stages-number="16" data-flats-number="40" data-descriptions="Усі планування квартир ретельно продумані. До речі, кожна квартира має чудові панорамні вінка та красиві види на Поділля, річку Південний Буг чи парк Ющенка."
                d="M886 123.5L882 117H907.5V110H955L959 115H964.5L969 121.5H979.5L983 127H988L1006 152L1008 150.5L1021 167.5L992 358L890 361V358H873L856 311.5L874.5 130.5H882L877.5 123.5H886Z" />
            </a>
        </g>
        </g>
        <defs>
        <pattern id="pattern0" patternContentUnits="objectBoundingBox" width="1" height="1">
        <use xlink:href="#image0_3_19" transform="matrix(0.000698812 0 0 0.00111111 -0.0590496 0)"/>
        </pattern>
        <image id="image0_3_19" data-name="genplan.jpg" width="1600" height="900" xlink:href="assets/img/genplan.jpg"/>
    </defs>
</svg>
</div>
<div class="outset-neomo build-info">
    <h2 class="build-info__title">Информация о доме</h2>
    <h4 class="build-info__number inset-neomo">Адрес <span id="build-value">1</span></h4>
    <h4 class="build-info__stages inset-neomo">Колл-во этажей <span id="stages-value">8</span></h4>
    <h4 class="build-info__flat inset-neomo">Колл-во квартир <span id="flats-value">50</span></h4>
    <div class="build-info__descriptions inset-neomo">
      Lorem, ipsum dolor sit amet consectetur.
    </div>
</div>
</section>
